# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

RAILS_SECRET_KEY_BASE=a397a5671f72dd1fe69ad582338524601a5b7f8134d198ddbfa63894d1d7ec49c50ffb636ae7ed2e94c0099700702a7746f3dbf6c043c56d8a322e62b92e3d9e
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
